#sayfa-basligi, #menu-basligi, .subrow1,button {
    text-align: center;
}

.cf1{
    background-color: khaki;
}


.row1{
    background-color: rgb(98, 212, 45);
    max-height: 225px;
}

  
.subrow1-1:hover,.subrow1-2:hover,.subrow1-3:hover,.subrow1-4:hover,.subrow1-5:hover{
    background-color: rgba(121, 8, 226, 0.849);
}
.subrow1-1-1:hover,.subrow1-2-1:hover,.subrow1-3-1:hover, .subrow1-4-1:hover,.subrow1-5-1:hover{
    background-color: rgb(233, 228, 227);
}

.row2{
    border: solid;
}
iframe{
    border: none;
    height: 600px; 
    width: 1105px;
}

